.image {
  background-image: url('https://images.unsplash.com/photo-1468164016595-6108e4c60c8b?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=0e3df374e72a1172cd928719eff2ba25&auto=format&fit=crop&w=800&q=60');
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  background-attachment: fixed;
  min-height: 100vh;
}

.image2 {
  background-image: url('https://images.unsplash.com/photo-1496293455970-f8581aae0e3b?ixlib=rb-0.3.5&s=12a448c66f43e0215a61c8edde02ea9d&auto=format&fit=crop&w=1601&q=80');
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  background-attachment: fixed;
  min-height: 100vh;
}

.image3 {
  background-image: url('https://images.unsplash.com/photo-1503683759663-762ec9716627?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=1d67eea4b82456f9189daba7b39f09c9&auto=format&fit=crop&w=800&q=60');
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  background-attachment: fixed;
  min-height: 100vh;
}

.image4 {
  background-image: url('https://images.unsplash.com/photo-1498145645178-ab2c7cebc433?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=7c1827f649bffcb8ab14a1de623d1fda&auto=format&fit=crop&w=800&q=60');
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  background-attachment: fixed;
  min-height: 100vh;
}
.image5 {
  background-image: url('https://images.unsplash.com/photo-1483412033650-1015ddeb83d1?ixlib=rb-0.3.5&s=120dfc5803f24ae76e4e0ce5a91a39df&auto=format&fit=crop&w=1653&q=80');
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  background-attachment: fixed;
  min-height: 100vh;
}
