.image {
  background-image: url('https://images.unsplash.com/photo-1468164016595-6108e4c60c8b?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=0e3df374e72a1172cd928719eff2ba25&auto=format&fit=crop&w=800&q=60');
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  background-attachment: fixed;
  min-height: 100vh;
}
