@import url('https://fonts.googleapis.com/css?family=Quicksand');

body {
  font-family: 'Quicksand', sans-serif;
}

.navbar {
background: linear-gradient(to bottom, rgba(41,38,36,0.2), rgba(41,38,36,0.6));
}

.right {
margin-left: 1000px;
}

.searchusers {
  margin-right: 780px;
}

iframe {
  height: 500;
  width: inherit;
}

h1 {
  color: #D97818;
  text-decoration: none;
}

img {
  border-radius: 100px;
  width: 200px;
  height: 200px;
}

.spacing {
  margin-top: 15px;
}

a:hover {
  text-decoration: none;
}

p {
  color: white;
}

h3 {
  font-size: 50px;
}

.navs {
  margin: 0 5px;
}

h4 {
  color: #D97818;
}

.dog {
  background-color: rgba(41,38,36,0.6);
  width: 205px;
}
