@import url('https://fonts.googleapis.com/css?family=Quicksand');

body {
  font-family: 'Quicksand', sans-serif;
}

.navbar {
background: linear-gradient(to bottom, rgba(41,38,36,0.2), rgba(41,38,36,0.6));
}

.right {
margin-left: 900px;
}

a {
  text-decoration: none;
}

.searchusers {
  margin-right: 780px;
}

iframe {
  height: 500;
  width: inherit;
}

h1 {
  color: #D97818;
  text-decoration: none;
}

img {
  border-radius: 100px;
  width: 200px;
  height: 200px;
}

.move {
  margin-top: 20px;
}
